ul {
    list-style: none;
}
a,
a:hover {
    text-decoration: none;
}
html,
body {
    min-height: 100vh;
}
main {
    min-height: calc(100vh - 160px);
}

/****** HEADER *****/
header {
    font-size: 16px;
}
header .logo {
    color: #66eb9a !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
/******** MENU *******/
.go-to,
.log-out {
    padding: 2px;
    border-radius: 50%;
    margin-right: 5px;
}
.go-to {
    color: #66eb9a;
    border: 1px solid #50bb7a;
}
.log-out {
    color: #a80000;
    border: 1px solid #a80000;
}
/**** PAGINATION ****/
.pagination {
    justify-content: flex-end;
}
.products-count {
    text-align: right;
    color: #959595;
}
/***** PRODUCT CARD ****/
.img-container {
    width: 100%;
    height: 200px;
    text-align: center;
}
.img-container img {
    height: 100%;
    width: auto;
}
.discount {
    position: absolute;
    top: 5px;
    right: -8px;
    padding: 2px;
    color: #fff;
    font-weight: bold;
    background: #66eb9a;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.discount::before {
    content: "";
    border: 4px solid transparent;
    border-top: 4px solid #50bb7a;
    border-left: 4px solid #50bb7a;
    position: absolute;
    bottom: -7px;
    right: 0;
}

.no-data {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/***** PRODUCT DETAIL **/

.product-detail img {
    width: 100%;
    height: auto;
}
.product-detail button {
    color: #fff;
    background-color: #66eb9a;
    font-size: 18px;
    font-weight: bold;
}

/**************** BACKEND *********************/
.error {
    color: #ff0000;
    font-style: italic;
}
img {
    width: 100%;
    height: auto;
}
.admin-title {
    display: flex;
    justify-content: space-between;
}
/***** FOOTER ****/
.social-network {
    padding: 0;
    display: flex;
}
.social-network li:first-child {
    margin-right: 10px;
}
.social-network li:last-child {
    margin-left: 10px;
}
.social-network img {
    width: 29px;
    height: 29px;
}
